--
-- PostgreSQL database dump
--

\restrict Lr1tMLk9csJ9ey8QbiTM8BrDDbpyACaG5f3BfSsVHgYkFWyzovi6EYwSmoHdTwC

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: chatroomtype; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.chatroomtype AS ENUM (
    'DM',
    'GROUP'
);


ALTER TYPE public.chatroomtype OWNER TO admin;

--
-- Name: notificationtype; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.notificationtype AS ENUM (
    'PROJECT_MEMBER_ADDED',
    'TASK_ASSIGNED',
    'TASK_OPTION_CHANGED',
    'TASK_COMMENT_ADDED',
    'TASK_MENTIONED'
);


ALTER TYPE public.notificationtype OWNER TO admin;

--
-- Name: sprintstatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.sprintstatus AS ENUM (
    'PLANNING',
    'ACTIVE',
    'COMPLETED'
);


ALTER TYPE public.sprintstatus OWNER TO admin;

--
-- Name: taskpriority; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.taskpriority AS ENUM (
    'P0',
    'P1',
    'P2',
    'P3'
);


ALTER TYPE public.taskpriority OWNER TO admin;

--
-- Name: taskstatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.taskstatus AS ENUM (
    'BACKLOG',
    'READY',
    'IN_PROGRESS',
    'IN_REVIEW',
    'DONE'
);


ALTER TYPE public.taskstatus OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.chat_messages (
    id character varying NOT NULL,
    room_id character varying NOT NULL,
    sender_id character varying NOT NULL,
    sender_username character varying NOT NULL,
    content text NOT NULL,
    image_urls character varying[] NOT NULL,
    file_urls character varying[] NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.chat_messages OWNER TO admin;

--
-- Name: chat_room_participants; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.chat_room_participants (
    id character varying NOT NULL,
    room_id character varying NOT NULL,
    user_id character varying NOT NULL,
    last_read_message_id character varying,
    last_read_at timestamp with time zone,
    unread_count integer NOT NULL,
    joined_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.chat_room_participants OWNER TO admin;

--
-- Name: chat_rooms; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.chat_rooms (
    id character varying NOT NULL,
    type public.chatroomtype NOT NULL,
    name character varying,
    project_id character varying,
    workspace_id character varying,
    member_ids character varying[] NOT NULL,
    last_message_id character varying,
    last_message_content character varying,
    last_message_sender character varying,
    last_message_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.chat_rooms OWNER TO admin;

--
-- Name: checklist_items; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.checklist_items (
    id character varying NOT NULL,
    checklist_id character varying NOT NULL,
    task_id character varying NOT NULL,
    content character varying NOT NULL,
    is_checked boolean NOT NULL,
    assignee_id character varying,
    due_date timestamp with time zone,
    display_order integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.checklist_items OWNER TO admin;

--
-- Name: checklists; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.checklists (
    id character varying NOT NULL,
    task_id character varying NOT NULL,
    title character varying NOT NULL,
    created_by character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.checklists OWNER TO admin;

--
-- Name: comment_reactions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.comment_reactions (
    id character varying NOT NULL,
    comment_id character varying NOT NULL,
    user_id character varying NOT NULL,
    emoji character varying(10) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.comment_reactions OWNER TO admin;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.comments (
    id character varying NOT NULL,
    task_id character varying NOT NULL,
    user_id character varying NOT NULL,
    username character varying NOT NULL,
    content character varying NOT NULL,
    image_urls character varying[] NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.comments OWNER TO admin;

--
-- Name: message_reactions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.message_reactions (
    id character varying NOT NULL,
    message_id character varying NOT NULL,
    user_id character varying NOT NULL,
    emoji character varying(10) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.message_reactions OWNER TO admin;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.notifications (
    id character varying NOT NULL,
    type public.notificationtype NOT NULL,
    user_id character varying NOT NULL,
    project_id character varying,
    task_id character varying,
    comment_id character varying,
    title character varying NOT NULL,
    message character varying NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO admin;

--
-- Name: project_github; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.project_github (
    id character varying NOT NULL,
    project_id character varying NOT NULL,
    repo_owner character varying NOT NULL,
    repo_name character varying NOT NULL,
    access_token character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.project_github OWNER TO admin;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.projects (
    id character varying NOT NULL,
    name character varying NOT NULL,
    description character varying,
    color bigint NOT NULL,
    team_member_ids character varying[] NOT NULL,
    workspace_id character varying,
    creator_id character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.projects OWNER TO admin;

--
-- Name: sprints; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sprints (
    id character varying NOT NULL,
    project_id character varying NOT NULL,
    name character varying NOT NULL,
    goal character varying,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    status public.sprintstatus NOT NULL,
    task_ids character varying[] NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.sprints OWNER TO admin;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tasks (
    id character varying NOT NULL,
    title character varying NOT NULL,
    description character varying,
    status public.taskstatus NOT NULL,
    project_id character varying NOT NULL,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    detail character varying,
    detail_image_urls character varying[] NOT NULL,
    assigned_member_ids character varying[] NOT NULL,
    comment_ids character varying[] NOT NULL,
    priority public.taskpriority NOT NULL,
    display_order integer NOT NULL,
    sprint_id character varying,
    status_history json NOT NULL,
    assignment_history json NOT NULL,
    priority_history json NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    document_links jsonb DEFAULT '[]'::jsonb NOT NULL,
    creator_id character varying,
    parent_task_id character varying
);


ALTER TABLE public.tasks OWNER TO admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id character varying NOT NULL,
    username character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    is_admin boolean NOT NULL,
    is_approved boolean NOT NULL,
    is_pm boolean NOT NULL,
    profile_image_url character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: workspace_members; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.workspace_members (
    id character varying NOT NULL,
    workspace_id character varying NOT NULL,
    user_id character varying NOT NULL,
    role character varying NOT NULL,
    joined_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.workspace_members OWNER TO admin;

--
-- Name: workspaces; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.workspaces (
    id character varying NOT NULL,
    name character varying NOT NULL,
    description character varying,
    owner_id character varying NOT NULL,
    invite_token character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.workspaces OWNER TO admin;

--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: chat_room_participants; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: chat_rooms; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: checklist_items; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: checklists; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: comment_reactions; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: message_reactions; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: project_github; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.project_github (id, project_id, repo_owner, repo_name, access_token, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: sprints; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.sprints (id, project_id, name, goal, start_date, end_date, status, task_ids, created_at, updated_at) FROM stdin;
7a02a285-c259-4685-bf16-61f228374c06	6c853740-925c-487d-a17c-d2c5ed339146	test	test	\N	\N	PLANNING	{87c87233-e308-431b-8f0e-aa070d27594a}	2026-02-23 02:08:31.306359+00	2026-02-23 02:08:37.874978+00
14ad2405-f809-493e-8afc-7efe46e1f78b	2bdf571c-1c1a-4c47-9d86-4fef6af5d9cb	?ㅺ퀎???묒꽦	吏꾨줈痍⑥뾽?앸궡湲?\N	\N	PLANNING	{}	2026-03-10 08:01:37.77156+00	2026-03-10 08:01:37.77156+00
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: workspace_members; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: workspaces; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: chat_room_participants chat_room_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.chat_room_participants
    ADD CONSTRAINT chat_room_participants_pkey PRIMARY KEY (id);


--
-- Name: chat_rooms chat_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.chat_rooms
    ADD CONSTRAINT chat_rooms_pkey PRIMARY KEY (id);


--
-- Name: checklist_items checklist_items_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.checklist_items
    ADD CONSTRAINT checklist_items_pkey PRIMARY KEY (id);


--
-- Name: checklists checklists_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.checklists
    ADD CONSTRAINT checklists_pkey PRIMARY KEY (id);


--
-- Name: comment_reactions comment_reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comment_reactions
    ADD CONSTRAINT comment_reactions_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: message_reactions message_reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: project_github project_github_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.project_github
    ADD CONSTRAINT project_github_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: sprints sprints_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sprints
    ADD CONSTRAINT sprints_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: comment_reactions uq_comment_user_emoji; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comment_reactions
    ADD CONSTRAINT uq_comment_user_emoji UNIQUE (comment_id, user_id, emoji);


--
-- Name: message_reactions uq_message_user_emoji; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT uq_message_user_emoji UNIQUE (message_id, user_id, emoji);


--
-- Name: workspace_members uq_workspace_member; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT uq_workspace_member UNIQUE (workspace_id, user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workspace_members workspace_members_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_pkey PRIMARY KEY (id);


--
-- Name: workspaces workspaces_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT workspaces_pkey PRIMARY KEY (id);


--
-- Name: ix_chat_messages_created_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_messages_created_at ON public.chat_messages USING btree (created_at);


--
-- Name: ix_chat_messages_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_messages_id ON public.chat_messages USING btree (id);


--
-- Name: ix_chat_messages_room_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_messages_room_id ON public.chat_messages USING btree (room_id);


--
-- Name: ix_chat_messages_sender_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_messages_sender_id ON public.chat_messages USING btree (sender_id);


--
-- Name: ix_chat_room_participants_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_room_participants_id ON public.chat_room_participants USING btree (id);


--
-- Name: ix_chat_room_participants_room_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_room_participants_room_id ON public.chat_room_participants USING btree (room_id);


--
-- Name: ix_chat_room_participants_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_room_participants_user_id ON public.chat_room_participants USING btree (user_id);


--
-- Name: ix_chat_rooms_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_rooms_id ON public.chat_rooms USING btree (id);


--
-- Name: ix_chat_rooms_project_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_rooms_project_id ON public.chat_rooms USING btree (project_id);


--
-- Name: ix_chat_rooms_type; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_rooms_type ON public.chat_rooms USING btree (type);


--
-- Name: ix_chat_rooms_workspace_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_chat_rooms_workspace_id ON public.chat_rooms USING btree (workspace_id);


--
-- Name: ix_checklist_items_checklist_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_checklist_items_checklist_id ON public.checklist_items USING btree (checklist_id);


--
-- Name: ix_checklist_items_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_checklist_items_id ON public.checklist_items USING btree (id);


--
-- Name: ix_checklist_items_task_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_checklist_items_task_id ON public.checklist_items USING btree (task_id);


--
-- Name: ix_checklists_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_checklists_id ON public.checklists USING btree (id);


--
-- Name: ix_checklists_task_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_checklists_task_id ON public.checklists USING btree (task_id);


--
-- Name: ix_comment_reactions_comment_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_comment_reactions_comment_id ON public.comment_reactions USING btree (comment_id);


--
-- Name: ix_comment_reactions_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_comment_reactions_id ON public.comment_reactions USING btree (id);


--
-- Name: ix_comment_reactions_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_comment_reactions_user_id ON public.comment_reactions USING btree (user_id);


--
-- Name: ix_comments_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_comments_id ON public.comments USING btree (id);


--
-- Name: ix_comments_task_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_comments_task_id ON public.comments USING btree (task_id);


--
-- Name: ix_comments_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_comments_user_id ON public.comments USING btree (user_id);


--
-- Name: ix_message_reactions_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_message_reactions_id ON public.message_reactions USING btree (id);


--
-- Name: ix_message_reactions_message_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_message_reactions_message_id ON public.message_reactions USING btree (message_id);


--
-- Name: ix_message_reactions_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_message_reactions_user_id ON public.message_reactions USING btree (user_id);


--
-- Name: ix_notifications_comment_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_notifications_comment_id ON public.notifications USING btree (comment_id);


--
-- Name: ix_notifications_created_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_notifications_created_at ON public.notifications USING btree (created_at);


--
-- Name: ix_notifications_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_notifications_id ON public.notifications USING btree (id);


--
-- Name: ix_notifications_is_read; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: ix_notifications_project_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_notifications_project_id ON public.notifications USING btree (project_id);


--
-- Name: ix_notifications_task_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_notifications_task_id ON public.notifications USING btree (task_id);


--
-- Name: ix_notifications_type; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_notifications_type ON public.notifications USING btree (type);


--
-- Name: ix_notifications_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: ix_project_github_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_project_github_id ON public.project_github USING btree (id);


--
-- Name: ix_project_github_project_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_project_github_project_id ON public.project_github USING btree (project_id);


--
-- Name: ix_projects_creator_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_projects_creator_id ON public.projects USING btree (creator_id);


--
-- Name: ix_projects_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_projects_id ON public.projects USING btree (id);


--
-- Name: ix_projects_name; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_projects_name ON public.projects USING btree (name);


--
-- Name: ix_projects_workspace_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_projects_workspace_id ON public.projects USING btree (workspace_id);


--
-- Name: ix_sprints_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_sprints_id ON public.sprints USING btree (id);


--
-- Name: ix_sprints_project_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_sprints_project_id ON public.sprints USING btree (project_id);


--
-- Name: ix_sprints_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_sprints_status ON public.sprints USING btree (status);


--
-- Name: ix_tasks_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_tasks_id ON public.tasks USING btree (id);


--
-- Name: ix_tasks_parent_task_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_tasks_parent_task_id ON public.tasks USING btree (parent_task_id);


--
-- Name: ix_tasks_project_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_tasks_project_id ON public.tasks USING btree (project_id);


--
-- Name: ix_tasks_sprint_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_tasks_sprint_id ON public.tasks USING btree (sprint_id);


--
-- Name: ix_tasks_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_tasks_status ON public.tasks USING btree (status);


--
-- Name: ix_tasks_title; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_tasks_title ON public.tasks USING btree (title);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: ix_workspace_members_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_workspace_members_id ON public.workspace_members USING btree (id);


--
-- Name: ix_workspace_members_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_workspace_members_user_id ON public.workspace_members USING btree (user_id);


--
-- Name: ix_workspace_members_workspace_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_workspace_members_workspace_id ON public.workspace_members USING btree (workspace_id);


--
-- Name: ix_workspaces_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_workspaces_id ON public.workspaces USING btree (id);


--
-- Name: ix_workspaces_invite_token; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_workspaces_invite_token ON public.workspaces USING btree (invite_token);


--
-- Name: chat_messages chat_messages_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.chat_rooms(id);


--
-- Name: chat_messages chat_messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: chat_room_participants chat_room_participants_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.chat_room_participants
    ADD CONSTRAINT chat_room_participants_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.chat_rooms(id);


--
-- Name: chat_room_participants chat_room_participants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.chat_room_participants
    ADD CONSTRAINT chat_room_participants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chat_rooms chat_rooms_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.chat_rooms
    ADD CONSTRAINT chat_rooms_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: comment_reactions comment_reactions_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comment_reactions
    ADD CONSTRAINT comment_reactions_comment_id_fkey FOREIGN KEY (comment_id) REFERENCES public.comments(id) ON DELETE CASCADE;


--
-- Name: comment_reactions comment_reactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.comment_reactions
    ADD CONSTRAINT comment_reactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: message_reactions message_reactions_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.chat_messages(id) ON DELETE CASCADE;


--
-- Name: message_reactions message_reactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_comment_id_fkey FOREIGN KEY (comment_id) REFERENCES public.comments(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: sprints sprints_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sprints
    ADD CONSTRAINT sprints_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: tasks tasks_sprint_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_sprint_id_fkey FOREIGN KEY (sprint_id) REFERENCES public.sprints(id);


--
-- Name: workspace_members workspace_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: workspace_members workspace_members_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id);


--
-- Name: workspaces workspaces_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT workspaces_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Lr1tMLk9csJ9ey8QbiTM8BrDDbpyACaG5f3BfSsVHgYkFWyzovi6EYwSmoHdTwC

